@media (min-width:320px) and (max-width:767px) {
    .containers {
      width: 320px;
      margin: 0 auto;
    }
    .container {
      width: 320px;
      margin: 0 auto;
    }
    .project-right {
      display: block;
    }
    .project-left {
      display: block;
    }
    .project-more-info {
      font-size: 0.7em;
    }
    .skill {
      font-size: 0.3em;
    }
  }
@media (min-width:768px) and (max-width:1023px) {
    .containers {
      width: 768px;
      margin: 0 auto;
    }
    .container {
      width: 768px;
      margin: 0 auto;
    }
    .project-right {
      display: block;
    }
    .project-left {
      display: block;
    }
  }
@media all and (min-width:1024px) {

  }


body {
  margin: 0;
  background-color: #edf2fb;
}
.banner {
  background-image: url('images/banner.png');
  background-size: cover;
  background-position: center;
  padding: 150px 50px 250px 80px;
}
.banner h1 {
  font-family: 'Arima Madurai', cursive;
  color: #2f3e46;
  font-weight: 700;
  font-size: 55px;
  text-shadow: 1px 1px grey;
}
.banner h2 {
  font-family: 'Arima Madurai', cursive;
  font-weight: 500;
  color: #2f3e46;
  font-size: 28px;
  text-shadow: 1px 1px grey;
}
.containers {
  width: 900px;
  margin: auto;
  background-color: #edf2fb;
}
.container h2 {
  text-align: center;
  font-size: 30px;
  margin: 1em;
  font-family: 'Arima Madurai', cursive;
  font-weight: 600;
  color: #2f3e46;
}
.project-right {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 2em 0;
}
.project-left {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 2em 0;
}
.project-content h3 {
  font-size: 25px;
  margin-bottom: 0.5em;
  font-family: 'Arima Madurai', cursive;
  font-weight: 500;
  color: #2f3e46;
  text-align: center;
}
.project-more-info {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 305px;
  flex: 1;
}
.project-more-info p {
  margin-bottom: 5px;
  font-family: 'Arima Madurai', cursive;
  color: #2f3e46;
}
.clone-link {
  color: black;
  text-decoration: none;
}
.clone-link:hover {
  color: black;
  text-decoration: none;
}
.project-url {
  color: white;
  text-decoration: none;
  text-align: center;
/*  margin-bottom: 1em;*/
  font-weight: 500;
  border-radius: 1em;
  border: 2px solid #2f3e46;
  background-color: #2f3e46;
  padding: 0.3em;
  display: block;
  font-family: 'Arima Madurai', cursive;
}
.project-url:hover {
  color: #2f3e46;
  background-color: #edf2fb;
}
.carousel-inner {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.carousel-item img {
  height: 350px;
  width: 658px;
}
.skill {
  padding: 3px 7px;
  border: 2px solid #2f3e46;
  border-radius: 1em;
  margin: 0 0.5em 0.5em 0;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Arima Madurai', cursive;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer {
  background-color: #2f3e46;
  color: #edf2fb;
  text-align: center;
  text-shadow: 1px 1px grey;
  padding: 1em;
}
.footer h4 {
  margin: 0;
  font-family: 'Arima Madurai', cursive;
  font-weight: 700;
}
.footer i {
  font-size: 20px;
  color: #edf2fb;
  margin: 0 20px;
}
.footer p {
  font-size: 11px;
  margin-top: 1em;
  font-family: 'Arima Madurai', cursive;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.one-education {
  display: flex;
}
.edu-image img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.edu-description h3 {
  font-size: 25px;
  margin-bottom: 0;
  font-family: 'Arima Madurai', cursive;
  font-weight: 500;
  color: #2f3e46;
}
.edu-description {
  font-family: 'Arima Madurai', cursive;
}
